
<h2>Search for related words</h2>

<div class="explanation">
  <span> Type one word in english to recover related words in japanese </span>
</div>

<div class="search-tab">
  <input [(ngModel)]="word" />
</div>

<div class="search-button">
  <span (click)="onSearch()">Search</span>
</div>

<div>
  <h2>Related Words</h2>
</div>

<div class="related-words-components-list">
  <ul>
    <li *ngFor="let relatedWordComponent of relatedWordsComponents">
      <span class="badge">
        {{ relatedWordComponent.word }}
        - 
        <a href="{{relatedWordComponent.translatedWordLink}}"> {{ relatedWordComponent.translatedWord }} </a>
      </span>
    </li>
  </ul>
</div>